services:
  postgres:
    container_name: postgres_container
    image: postgres:17.0
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-store_db}
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
    volumes:
      - postgres_vol:/data/postgres
    ports:
      - '5432:5432'
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@gmail.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    volumes:
      - pgadmin_vol:/var/lib/pgadmin
      - ./servers.json:/pgadmin4/servers.json
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    restart: unless-stopped

volumes:
  postgres_vol:
  pgadmin_vol:
